arrow==0.16.0
asgiref==3.2.10
blessings==1.7
bpython==0.19
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
cycler==0.10.0
Django==3.0.8
django-appconf==1.0.4
django-compressor==2.4
django-extensions==3.0.9
django-pandas==0.6.2
djangorestframework==3.11.1
et-xmlfile==1.0.1
greenlet==0.4.17
idna==2.10
jdcal==1.4.1
kiwisolver==1.2.0
matplotlib==3.3.1
mysqlclient==2.0.1
numpy==1.19.1
openpyxl==3.0.4
pandas==1.1.0
Pillow==7.2.0
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
rcssmin==1.0.6
requests==2.24.0
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wcwidth==0.2.5
