{% extends 'front/base.html' %}

{% block content %}
    <div class="container">
        <div class="acerca bg-white rounded border p-3">
            <h1>Acerca de Twitnd</h1>
            <h3>¿Qué es Twitnd?</h3>
            <p>
                Twitnd es un colector de tendencias en algunos paises de habla hispana.
            </p>
            <h3>¿De dónde obtiene las tendencias?</h3>
            <p>
                Twitnd obtiene datos desde la aplicación Tweetdeck de Twitter.
            </p>
            <h3>¿Cómo obtiene los datos?</h3>
            <p>
                Twitnd tiene un <a href="https://github.com/soncco/trends-scraper">algoritmo de scraping</a>, el cual revisa Tweetdeck cada 15 minutos y colecta tendencias con los siguientes datos:
            </p>
            <ul>
                <li>El hashtag o tendencia.</li>
                <li>La ubicación de la tendencia, por ejemplo: "Perú".</li>
                <li>La posición en la que se muestra.</li>
                <li>La cantidad de Tweets.</li>
                <li>La fecha y hora de la recolección de acuerdo al timezone de la ubicación, por ejemplo en Perú sería UTC-5.</li>
            </ul>
            <h3>¿Por qué?</h3>
            <p>
                Como parte de una investigación para la <a href="https://www.researchgate.net/publication/339365342_Fake_News_in_Spanish_Towards_the_building_of_a_Corpus_based_on_Twitter">creación de corpus para detección de Fake News en español</a>, esta herramienta permitirá obtener tweets con URLs, con estas URLs se crearán datasets que permitan entrenar modelos que permitan detectar
                Fake News en idioma español.
            </p>

            <h3>¿Puedo ayudar?</h3>
            <p>
                Puedes ayudar contribuyendo en <a href="https://github.com/soncco/trends-scraper">el código fuente del scraper</a>, o también puedes apoyarnos con los gastos operativos del sitio medianta PayPal.
            </p>
            <p class="text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="N6HQZC75BL844" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_PE/i/scr/pixel.gif" width="1" height="1" />
                </form>                    
            </p>
        </div>
    </div>    
{% endblock content %}


{% block title %}Acerca de Twitnd{% endblock title %}
    