{% extends 'front/base.html' %}
{% load mis_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="trends-container bg-white rounded border p-3">
                    <h2>Tendencias de {{ location_data.nombre }} <span class="text-muted">({{ location_data.tz }})</span></h2>
                    <ol class="trend-list">
                    {% for trend in newdf %}
                        <li>
                            <div class="trend-info">
                                <a class="hashtag" href="{% url 'front:trend' trend.hashtag %}">{{ trend.hashtag }}</a>
                                <br>
                                {% if trend.tweets_counter > 0 %}
                                <small class="text-muted">{{ trend.tweets_counter }} tweets</small> <br>
                                {% else %}
                                <small class="text-muted">Empezando la tendencia</small> <br>
                                {% endif %}
                            </div>
                            <div class="trend-links">
                                <a href="https://twitter.com/search?q={{ trend.hashtag|clean_hashtag }}" target="_blank"><i class="fab fa-twitter    "></i> Ver en Twitter</a>
                            </div>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trends-settings bg-white rounded border p-3 mb-2">
                    <h4>Lugares</h4>
                    <ul class="places list-unstyled">
                        {% for place in places %}
                            {% if when != '' %}
                                <li class="border-bottom  p-1"><a href="{% url 'front:index' place.key when %}">{{ place.nombre }}</a></li>
                            {% else %}
                                <li class="border-bottom  p-1"><a href="{% url 'front:index' place.key %}">{{ place.nombre }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="trends-settings bg-white rounded border p-3 mb-2">
                    <h4>Fecha</h4>
                    <div class="form-group">
                        <input type="text" class="form-control datepicker" value="{{ fecha|date:"d/m/Y" }}" />
                        <input type="hidden" name="when" id="when" value="{{ fecha|date:"Y-m-d"}}" />
                    </div>
                </div>
                <div class="trends-settings bg-white rounded border p-3 mb-2">
                    <h4>Hora</h4>
                    {% for hora in horas %}
                        {% if hora == hour %}
                            <a href="{% url 'front:index' location fecha|date:"Y-m-d" hora %}" class="btn btn-primary btn-hora">{{ hora }}</a>
                        {% else %}
                            <a href="{% url 'front:index' location fecha|date:"Y-m-d" hora %}" class="btn btn-light btn-hora">{{ hora }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="trends-settings bg-white rounded border p-3">
                    <h4>¿Qué es Twitnd?</h4>
                    <p>Twitnd es un colector de tendencias de Twitter en algunos paises de habla hispana. Las tendencias se obtienen de Tweetdeck.
                        Estas tendencias se obtienen cada 15 minutos y
                        se muestran agrupados de acuerdo a la posición que ocupan en la aplicación. Twitnd ha sido creado sólo para fines educativos.
                    </p>
                    <p>
                        Puedes ayudarnos contribuyendo al <a href="https://github.com/soncco/trends-scraper">código fuente</a> o ayudándonos con los costos operativos.
                    </p>
                    <p class="text-center">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick" />
                            <input type="hidden" name="hosted_button_id" value="N6HQZC75BL844" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_PE/i/scr/pixel.gif" width="1" height="1" />
                        </form>                    
                    </p>
                </div>
            </div>
        </div>
    </div>
        
{% endblock content %}


{% block js %}
    <script>
        $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
        $('.datepicker').datepicker({
            minDate: new Date(2020, 6, 15),
            maxDate: new Date(),
            altField: '#when',
            altFormat: 'yy-mm-dd',
            onSelect: function(d, x, y) {
                location.href = '/{{ location }}/' + $('#when').val() + '/';
            }
        })
    </script>
{% endblock js %}

{% block js_head %}

{% endblock js_head %}


{% block title %}Tendencias de {{ location_data.nombre }}{% endblock title %}
    