{% extends 'front/base.html' %}
{% load mis_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="trends-container bg-white rounded border p-3">
                    <h2>Resultados de búsqueda</h2>
                    {% for trend in newdf %}
                        <section class="trend-stat">
                            <p class="location"><i class="fas fa-map-marker-alt"></i> {{ trend.location }}</p>
                            <h4 class="hashtag"><a href="#">{{ trend.hashtag }}</a></h4>
                            <p class="numbers">
                                Aparece {{ trend.count }} veces
                                {% if trend.average > 0 %}
                                en promedio {{ trend.average|floatformat:"0" }} tweets.
                                {% endif %}
                            </p>
                        </section>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
        
{% endblock content %}

{% block title %}"{{ q }}" en tendencias{% endblock title %}