{% extends 'front/base.html' %}
{% load mis_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="trends-container bg-white rounded border p-3">
                    <h2>{{ hashtag }}</h2>
                    <ol class="list-unstyled trend-stat">
                    {% for n in newdf %}
                        <li class="mb-3">
                            <p class="location"><i class="fas fa-map-marker-alt"></i> {{ n.location }}</p>
                            <canvas id="chart{{ forloop.counter0 }}"></canvas>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-md-4">
                <div class="trends-settings bg-white rounded border p-3 mb-2">
                    <h4>¿Cómo interpretar el gráfico?</h4>
                    <p>
                        Twitnd sólo muestra en el gráfico las fechas donde el hashtag ha sido tendencia.
                        Se agrupa cuántas veces el hashtag ha sido tendencia en el día, se toman el número de tweets y se saca un promedio el cual se muestra en el gráfico.
                    </p>
                    <p>
                        También agrupa los términos de manera "case insensitive", es decir, "vizcarra", "Vizcarra" o "VIZCARRA" serán agrupados y se mostrarán en este gráfico.
                    </p>
                    <p>
                        En algunos casos el promedio de Tweets es 0, esto es porque Tweetdeck no muestra el número de Tweets cuando algun hashtag recién está empezando a difundirse.
                    </p>
                </div>
                <div class="trends-settings bg-white rounded border p-3 mb-2">
                    <h4>Tendencias en español ahora</h4>
                    <ol class="trend-list">
                        {% for trend in globales %}
                            <li>
                                <div class="trend-info">
                                    <a class="hashtag" href="{% url 'front:trend' trend.hashtag %}">{{ trend.hashtag }}</a>
                                    <br>
                                    {% if trend.tweets_counter > 0 %}
                                    <small class="text-muted">{{ trend.tweets_counter }} tweets</small> <br>
                                    {% else %}
                                    <small class="text-muted">Empezando la tendencia</small> <br>
                                    {% endif %}
                                </div>
                                <div class="trend-links">
                                    <a href="https://twitter.com/search?q={{ trend.hashtag|clean_hashtag }}" target="_blank"><i class="fab fa-twitter    "></i> Ver en Twitter</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
        
{% endblock content %}

{% block title %}{{ hashtag }}{% endblock title %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/locale/es.min.js" integrity="sha512-L6Trpj0Q/FiqDMOD0FQ0dCzE0qYT2TFpxkIpXRSWlyPvaLNkGEMRuXoz6MC5PrtcbXtgDLAAI4VFtPvfYZXEtg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var nan = null;
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var l = function(d) {
        var entries = Object.entries(d);
        var labels = [];
        for(var item in entries) {
            if(item > 1) {
                if(entries[item][1] != nan)
                    labels.push(moment(entries[item][0]).format('L'))
            }
        }
        return labels;
    }
    var gd = function(d) {
        var entries = Object.entries(d);
        var data = [];
        for(var item in entries) {
            if(item > 1) {
                if(entries[item][1] != nan)
                    data.push(entries[item][1].toFixed(2))
            }
        }
        return data;
    }
</script>
<script>
    {% for n in newdf %}
    var color = getRandomColor()
    var ctx{{ forloop.counter0 }} = document.getElementById('chart{{ forloop.counter0 }}').getContext('2d');
    var it = {{n|safe}};
    var labels = l(it);
    var myLineChart{{ forloop.counter0 }} = new Chart(ctx{{ forloop.counter0 }}, {
        type: (labels.length > 1) ? 'line' : 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Promedio de Tweets',
                data: gd(it),
                backgroundColor: color + '44',
                borderColor: color,
            }]
            
        },
        options: {
            
        }
    });
    {% endfor %}
</script>
{% endblock js %}
    